body {
  background-color: #F7F7F7;
}

.main-header {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  max-width: 100%;
}

.nav a {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 15px;
  letter-spacing: 0.3em;
  font-size: 13px;
  margin-top: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  text-align: center;
}